<%- include('partials/header.ejs') -%>

<main>
  <section class="books__graphs">
    <p>Graphs etc will go here</p>
  </section>
  <nav class="books__nav">
    <a href="/search?type=list">Search all 1001 books</a>
    <a href="/search?type=nonlist">Search all other books</a>
    <a href="/search?type=wishlist">View wishlist</a>
    <a href="/">Add book</a>
  </nav>
</main>

<%- include('partials/footer.ejs') -%>
