<%- include('partials/header.ejs') -%>

<main>
  <section class="books__graphs">
    <p>Graphs etc will go here</p>
  </section>
  <nav class="books__nav">
    <a href="/search">Search 1001 books</a>
    <a href="/">Search wishlist books</a>
    <a href="/">Add book</a>
  </nav>
</main>

<%- include('partials/footer.ejs') -%>
