<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Lists | Vanita Barrett</title>

    <link rel="stylesheet" type="text/css" href="dist/styles/index.css">
  </head>
  <body>
    <main class="index">
      blah
    </main>
  </body>
</html>
