<%- include('partials/header.ejs') -%>

<main class="travel">
  <section class="travel__graphs main__stats">
  </section>
  <nav class="books__nav main__sidebar">
    <a href="/search?type=list">Search all 1001 books</a>
    <a href="/search?type=nonlist">Search all other books</a>
    <a href="/search?type=wishlist">View wishlist</a>
    <a href="completion-report">Completion report</a>
  </nav>
</main>

<%- include('partials/footer.ejs') -%>
