/* PAGE: Home */
.books {
  display: table;
  width: 100%;
}

.books__graphs {
  display: table-cell;
  padding: 0 10px 10px 10px;
}

.books__nav {
  display: table-cell;
  width: 30%;
  border-left: 2px solid $orange;
  box-sizing: border-box;
  padding: 0 20px;
  vertical-align: top;

  a {
    font-weight: bold;
    display: block;
    color: $white;
    margin: 0 0 20px 0;
    background-color: $orange;
    border-bottom: 2px solid transparent;
    padding: 10px;

    &:hover {
      border-bottom: 2px solid $white;
    }
  }
}

.books__section {
  position: relative;
  width: 100%;
  border-bottom: 2px solid $orange;
  padding-bottom: 30px;
  margin-bottom: 30px;

  h2 {
    text-align: center;
    color: $orange;
    font-weight: normal;
  }
}

.books__graph-doughnut {
  position: relative;
  min-height: 250px;
}

.books__graph-line {
  height: 40vh;
  min-height: 300px;
}

.books__stats {
  color: $orange;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.books__stats--highlight {
  font-size: 50px;
  font-weight: bold;
}

.books__stats-heading {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.2rem;
}

/* PAGE: Search */
.book__search-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.book__search-input {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  font-size: 1.2rem;
  font-size: 18px;
  border: 0;
  border-bottom: 5px solid transparent;

  &:hover,
  &:focus {
    outline: 0;
    border-bottom: 5px solid $orange;
  }
}

.book__table {
  width: 100%;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 15px;
  border-collapse: collapse;

  td {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
  }
}

.book__table-header {
  display: none;

  @include mq($from: mobile) {
    display: table-row;
    border-bottom: 1px solid $orange;
  }

  .book__table-cell {
    font-weight: bold;

    &:last-child {
      text-align: center;
    }
  }
}

.book__table-cell {
  display: block;

  @include mq($from: mobile) {
    display: table-cell;
    padding: 10px 5px;
  }
}

.book__table-row {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid $orange;

  .book__table-cell:first-child {
    font-weight: bold;
  }

  @include mq($from: mobile) {
    display: table-row;
    border-bottom: 0;

    .book__table-cell:first-child {
      font-weight: initial;
    }
  }

  &:after {
    content: "edit";
    display: block;
    position: relative;
    visibility: hidden;
    padding: 10px 0;
    cursor: pointer;
  }
}

.book__table-row .book__table-cell:hover {
  cursor: pointer;
}

.book__table-row:hover {
  &:after {
    display: block;
    visibility: visible;
  }
}

.book__table-cell-status {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;

  &--1 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 0C114.509 0 0 114.497 0 256c0 141.491 114.497 256 256 256 141.491 0 256-114.497 256-256C512 114.509 397.503 0 256 0zm0 477.867c-122.337 0-221.867-99.529-221.867-221.867S133.663 34.133 256 34.133 477.867 133.663 477.867 256 378.337 477.867 256 477.867z' fill='%23CDC5B4'/%3E%3C/svg%3E");
  }

  &--2 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -28 512.00001 512'%3E%3Cpath fill='%23ff5e95' d='M512 153.867188c0 43.292968-16.132812 82.941406-50.773438 124.734374C430.230469 316 385.695312 353.957031 334.113281 397.910156c-17.625 15.015625-37.597656 32.039063-58.320312 50.171875-5.429688 4.75-12.386719 7.386719-19.613281 7.429688H256c-7.289062 0-14.316406-2.640625-19.792969-7.4375-20.683593-18.085938-40.625-35.089844-58.21875-50.085938l-.089843-.066406C126.324219 353.964844 81.769531 316 50.78125 278.601562 16.132812 236.808594 0 197.160156 0 153.867188c0-42.066407 14.425781-80.882813 40.617188-109.292969C67.125 15.824219 103.492188 0 143.03125 0c29.558594 0 56.617188 9.335938 80.449219 27.761719C235.507812 37.066406 246.402344 48.441406 256 61.726562l.179688-.238281c9.558593-13.183593 20.394531-24.480469 32.347656-33.726562C312.351562 9.335938 339.421875 0 368.96875 0c39.546875 0 75.914062 15.824219 102.414062 44.574219C497.574219 72.984375 512 111.789062 512 153.867188zm0 0'/%3E%3Cpath fill='%23ff3980' d='M512 153.867188c0 43.292968-16.132812 82.941406-50.773438 124.734374C430.230469 316 385.695312 353.957031 334.113281 397.910156c-17.625 15.015625-37.597656 32.039063-58.320312 50.171875-5.429688 4.75-12.386719 7.386719-19.613281 7.429688V61.488281c9.558593-13.183593 20.394531-24.480469 32.347656-33.726562C312.351562 9.335938 339.421875 0 368.96875 0c39.546875 0 75.914062 15.824219 102.414062 44.574219C497.574219 72.984375 512 111.789062 512 153.867188zm0 0'/%3E%3C/svg%3E");
  }

  &--3 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 0C114.615 0 0 114.615 0 256s114.615 256 256 256 256-114.615 256-256S397.385 0 256 0zm0 480C132.288 480 32 379.712 32 256S132.288 32 256 32s224 100.288 224 224-100.288 224-224 224z' fill='%23FFEA00'/%3E%3Ccircle cx='256' cy='256' r='32' fill='%23FFEA00'/%3E%3Ccircle cx='368' cy='256' r='32' fill='%23FFEA00'/%3E%3Ccircle cx='144' cy='256' r='32' fill='%23FFEA00'/%3E%3C/svg%3E");
  }

  &--4 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M437.019 74.98C388.667 26.629 324.38 0 256 0 187.619 0 123.331 26.629 74.98 74.98 26.628 123.332 0 187.62 0 256s26.628 132.667 74.98 181.019C123.332 485.371 187.619 512 256 512c68.38 0 132.667-26.629 181.019-74.981C485.371 388.667 512 324.38 512 256s-26.629-132.667-74.981-181.02zM256 482C131.383 482 30 380.617 30 256S131.383 30 256 30s226 101.383 226 226-101.383 226-226 226z' fill='%2300b300'/%3E%3Cpath d='M378.305 173.859c-5.857-5.856-15.355-5.856-21.212.001L224.634 306.319l-69.727-69.727c-5.857-5.857-15.355-5.857-21.213 0-5.858 5.857-5.858 15.355 0 21.213l80.333 80.333c2.929 2.929 6.768 4.393 10.606 4.393s7.678-1.465 10.606-4.393l143.066-143.066c5.858-5.857 5.858-15.355 0-21.213z' fill='%2300b300'/%3E%3C/svg%3E");
  }

  @include mq($from: mobile) {
    width: auto;
    height: auto;
  }
}

.paginate_controls input[type=button] {
  outline: 0;
  border: 0;
  font-size: 14px;
  background-color: $orange;
  color: $white;
  padding: 10px;
  margin: 2px;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: $dark-grey;
    cursor: initial;
  }
}

.paginate_control_prev,
.paginate_control_next {
  padding: 10px 20px;
}
